<article class="markdown-body">
  <h1 class="atx" id="metodos-de-la-api-rest">Metodos de la API REST</h1>
  <h2 class="atx" id="mostrar-editoriales">Mostrar Editoriales</h2>
  <p><mark>GET </mark><code> https://localhost:4200/editorials</code></p>
  <p><img alt="https://cdn.discordapp.com/attachments/985638124271054928/1016162896922808330/unknown.png"
      src="https://cdn.discordapp.com/attachments/985638124271054928/1016162896922808330/unknown.png"></p>
  <p>Muestra el id, nombre, cantidad de empleados, fundador, el jefe actual, la fecha de creacion y el pais de origen de
    cada editorial.</p>
  <h2 class="atx" id="mostrar-datos-de-1-superheroe">Mostrar datos de 1 superheroe</h2>
  <p><mark>GET </mark><code> https://localhost:4200/editorials/:id/</code></p>
  <p><img alt="https://cdn.discordapp.com/attachments/985638124271054928/1016163658511958057/unknown.png"
      src="https://cdn.discordapp.com/attachments/985638124271054928/1016163658511958057/unknown.png"></p>
  <p>Muestra los datos de solo ese editorial</p>
  <h2 class="atx" id="mostrar-superheroes">Mostrar Superheroes</h2>
  <p><mark>GET</mark> <code> https://localhost:4200/superheroes</code></p>
  <p><img alt="https://cdn.discordapp.com/attachments/985638124271054928/1016161559657066526/unknown.png"
      src="https://cdn.discordapp.com/attachments/985638124271054928/1016161559657066526/unknown.png"></p>
  <p>Muestra el id, nombre y la primera aparicion de cada superheroe. Tambien muestra el id de la Editorial a la cual
    pertenece cada superheroe.</p>
  <h2 class="atx" id="mostrar-datos-de-1-superheroe-1">Mostrar datos de 1 superheroe</h2>
  <p><mark>GET</mark><code> https://localhost:4200/superheroes/:nombre/</code></p>
  <p><img alt="https://cdn.discordapp.com/attachments/985638124271054928/1016162622976036994/unknown.png"
      src="https://cdn.discordapp.com/attachments/985638124271054928/1016162622976036994/unknown.png"></p>
  <p>Muestra los datos de solo ese superheroe.</p>
  <h2 class="atx" id="mostrar-los-superheroes-de-1-editorial">Mostrar los superheroes de 1 editorial</h2>
  <p><mark>GET</mark> <code> https://localhost:4200/superheroes/editorial/:id/</code></p>
  <p><img alt="https://cdn.discordapp.com/attachments/985638124271054928/1016174756879409262/unknown.png"
      src="https://cdn.discordapp.com/attachments/985638124271054928/1016174756879409262/unknown.png"></p>
  <p>Muestra la informacion de todos los superheroes de la editorial escogida.</p>
</article>